.hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/background.jpg);
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    max-height: 600px;
  }
  
  .main-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }